body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

div[data-js="app"].hidden {
  visibility: hidden;
  opacity: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  padding: 6px 12px;
  font-weight: 600;
  background-color: #57F287;
}
